body {
    margin: 0;
  }
  header {
    background-color: #373738;
    padding: 15px;
  }
  header ul {
    float:right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-image: url(/images/pramod-tiwari-qE2xl1Tc9Js-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 15px;
  }
  h1 {
    color: #005281;
  }
  h2 {
    font-size:medium;
    font-weight: normal;
    color: #f14d29;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
  }
  button {
    padding: 15px;
    background-color: #4386ab;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
    border-radius: 4px;
    width: 200px;
    margin: 5px;
  }
  button:hover {
    background-color: #f14d29;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
  }
  li:hover {
    color: #f14d29;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
 } 
  footer {
    background-color: #373738;
    padding: 10px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 50px;
  }
  footer li {
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
  }
  

 